/*
main style sheet file
*/

main{
    position:relative;
    width:1440px;
    height:1343px;
    padding:0;
    margin:0 auto;
}
header{
    position:absolute;
    width:1440px;
    height:70px;
    left:0;
    top:0;
    background-color: #ffffff;
    box-shadow:0 10px 20px rgba(31, 32, 65, .05);
}
header .top-section-circle{
    position:absolute;
    width: 40px;
    height:40px;
    left:140px;
    top:15px;
    border-radius:50%;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    z-index: 0;
}
header .top-section-circle-inside{
    position:absolute;
    width: 36px;
    height:36px;
    left:142px;
    top:17px;
    border-radius:50%;
    background-color: #ffffff;
    z-index: 1;
}